### Loops (For loop and while loop)

In [1]:
l1=[44,55,66,77]

for i in l1:
    print (i)

44
55
66
77

In [8]:
l1=[44,55,66,77]

total = 0
for i in l1:
    total = total+i
    print(total)

44
99
165
242

In [12]:
# Average = total / len(l1)

num = len(l1)
print("The length of the list is:", num) 

average = total / num
print("The average is:", average)

The length of the list is: 4
The average is: 60.5

In [ ]:
# range() is a type 2 loop, it generates a sequence of numbers.
# It can be used in a for loop to iterate over a sequence of numbers.

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
l2 = []

for i in range(100):
    if i % 2 == 0:
        l2.append(i)
print(l2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [27]:
# Type 3 loop

l1=[44,55,66,77]

for i in range(len(l1)):
    print(l1[i])

44
55
66
77

In [31]:
# Type 4 loop

crypto_prices = {'btc':120000, 'eth':2010, 'sol':125}

for i in crypto_prices:
    print(i, crypto_prices.get(i))

btc 120000
eth 2010
sol 125

In [33]:
for i in crypto_prices.keys():
    print(i)

btc
eth
sol

In [34]:
for i in crypto_prices.values():
    print(i)

120000
2010
125

In [35]:
for i in crypto_prices.items():
    print(i)

('btc', 120000)
('eth', 2010)
('sol', 125)

#### While loop

###### while loop runs code as long as the condition is true.

In [ ]:
counter = 0

while counter < 3:
    print("counting...", counter)
    counter += 1

In [40]:
i = 10
while True:
    if i == 20:
        break
    print(i)
    i += 1

10
11
12
13
14
15
16
17
18
19

In [ ]:
# Get even number between 1 and 100
even = []
while True:
    if i > 100:
        break

    if i % 2 == 0:
        even.append(i)
        i+=1
    print(i)

In [48]:
# Multiplication table of 3x3
num1 = 3
num2 = 1
while True:
    if num2==11:
        break
    print(num1, "x", num2, "=", num1 * num2)
    num2 += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [4]:
# continue skips to the next iteration

for i in range (5):
    if i == 2:
        continue
    print(i)

0
1
3
4

##### Continue amd break are used interchangeably

# END